# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-in-production-use-openssl-rand-base64-32"

# Optional: Production settings
# NEXTAUTH_URL="https://your-production-domain.com"
